// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-default {
  margin-bottom: 15px;
}

.pin {
  margin: 5px;
  max-width: 300px;

  h2 {
    font-size: 120%;
  }
}

@media screen and (min-width: 968px) {
  #pins {
    width: 940px;
    margin: 0 auto;
  }
}
